.elementFormCreationCompte {
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formCreationCompte {
    margin-top: 2%;
    text-align: center;
}

#validerFormCreationCompte {
    background-color: #FF7276;
    border-color: #FF7276;
    color: white;
}

#validerFormCreationCompte:hover, #validerFormCreationCompte:active {
    background-color: #44797B;
    border-color: #44797B;
    color: white;
}