.elementFormCreationPieces {
    text-align: center;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formCreationPieces {
    margin-top: 2%;
    text-align: center;
}

#validerFormCreationPieces, .ajoutSuppr {
    background-color: #FF7276;
    border-color: #FF7276;
    color : white;
}

.ajoutSuppr {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
    vertical-align: middle;
    margin: 0 10px;
}

#validerFormCreationPieces:hover, .ajoutSuppr:hover, #validerFormCreationPieces:active, .ajoutSuppr:active {
    background-color: #44797B;
    border-color: #44797B;
    color : white;
}