.MyCardboards {
    nav {
        background-color: white;
        svg {
            color: black;
        }
        span {
            color:black;
        }
    }

    .container{
        background-color: red;
    }
}