.elementFormCreationCompte {
    text-align: center !important;
    border-radius: 20px !important;
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.formCreationCompte {
    margin-top: 2% !important;
    text-align: center !important;
}

#validerFormCreationCompte {
    background-color: #FF7276 !important;
    border-color: #FF7276 !important;
    color: white !important;
}

#validerFormCreationCompte:hover, #validerFormCreationCompte:active {
    background-color: #44797B !important;
    border-color: #44797B !important;
    color: white !important;
}

.erreurCreationCompte {
    color: red !important;
    width: 20% !important;
}