.elementFormConnaissance {
    text-align: center !important;
    border-radius: 20px !important;
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.formConnaissance {
    margin-top: 2% !important;
    text-align: center !important;
}

#validerFormConnaissance {
    background-color: #FF7276 !important;
    border-color: #FF7276 !important;
    color: white !important;
}

#validerFormConnaissance:hover, #validerFormConnaissance:active {
    background-color: #44797B !important;
    border-color: #44797B !important;
    color: white !important;
}