.option {
    flex: 1 0 0;
    height: 5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(148, 144, 144);
    .emptyRoof {
        flex: 1 0 0;
        flex-shrink: 0;
        min-height: 1.5rem;
    }
    .emptyFloor {
        flex: 1 0 0;
        flex-shrink: 0;
        min-height: 1.5rem;
    }
    .optionContent {
        flex-shrink: 0;
        flex: 2 0 0;
        display: flex;
        flex-direction: row;
        .emptyStart {
            flex: 1 0 0;
        }
        .leftLogo {
            align-items: center;
            justify-content: center;
            flex: 2 0 0;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .spaceBetween {
            flex: 1 0 0;
        }
        .textContainer {
            align-items: center;
            justify-content: center;
            flex: 4 0 0;
            text-align: center;
            span {
                width: 100%;
                font-size: 2rem;
                line-height: 4rem;
                text-align: center;
                vertical-align: middle;
            }
        }
        .emptySpace {
            flex: 5 0 0;
        }
        .rightLogo {
            align-items: center;
            justify-content: center;
            flex: 2 0 0;
            svg {
                color: black;
                width: 100%;
                height: 100%;
            }
        }
        .emptyEnd {
            flex: 2 0 0;
        }
    }
}