.label {
    display:inline-block;
    color:rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    background:rgb(68, 121, 123);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    /*max-width: 17em;*/
    padding: 5px;
    text-align: center;


    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: auto;

    border-radius: 5%;
}

.page {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    height: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.taillePapier, .nbCopies {
  max-width: max-content;
  width: max-content;
  text-align: center;
}

.formLabels {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.divRowLabel {
  max-width: max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.nbCopies {
  margin-right: 20px;
}

.colLabel {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.btnImpressionEtiquette {
  background-color: #FF7276;
  border-color: #FF7276;
  border-radius: 20px;
  margin-bottom: 20px;
}

.btnImpressionEtiquette:hover {
  background-color: #44797B;
  border-color: #44797B;
}

@media print {
  .label {
    display:inline-block;
    color:rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    background:rgb(68, 121, 123);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    /*max-width: 17em;*/
    padding: 5px;
    text-align: center;


    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: auto;

    border-radius: 5%;
  }
}