body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .link-round, .link-round:hover{
    color:inherit;
    text-decoration: none;
  }
  
  /* MENU */
  .nav-home{
    background-color: white;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* HOME */
  .title-home{
    color:#FF7276;
  }
  
  .home-card{
    background-color:#FF7276;
  }
  
  .round-home{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 44%;
    right: -15px;
    box-shadow: 1px 1px 5px #555;
  }
  
  .arrow-home{
    width: 20px;
    height: 20px;
    color: #FF7276;
    position: relative;
    top: 4px;
  }
  
  