.box-piece2{
    background-color: #F6F6F6;
    width : 25vw;
    height : 25vw;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 10px;
    position: relative;

    #cardboard-icon{
        width: 100%;
        height: 100%;
        background-size: contain;
        color: #C5C5C5;
    }

}

.number{
    font-size: 5em;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.roomName{
    color : #FF5461;
    position: relative;
    left: 2%;
}

@media only screen and (max-width: 800px) {
    .number {
        font-size: 10vw;
    }
}
