// PICTURE

cameraModal{
    height: 100%;
    width: 100%;
}
.square{
    width: 10rem;
    padding-bottom: 10rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F6F6F6;
    cursor: pointer;

    .content {
        position:absolute;
        height: 100%;
        width: 100%;
        padding: 10% 10%;

        .table{
            display:table;
            height:100%;
            width:100%;

            .table-cell{
                display:table-cell;
                vertical-align:middle;
                height:100%;
                width:100%;

                #picture{
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    color: #DDDDDD;
                }
            }
        }
    }
}

.circles{

    button{
        width: 25px;
        height: 25px;
        padding: 0 5px;
    }

    .etiquette1{
        background-color: #FFABAB;
    }
    
    .etiquette2{
        background-color: #DEB2FF;
    }
    
    .etiquette3{
        background-color: #9CFFEB;
    }
    
    .etiquette4{
        background-color: #F3F3F3;
    }

}

// INPUTS
#input{
    background-color: #F6F6F6;
    border-radius: 20px;
    border: none;
    appearance: textfield;
    height: 50px;
    width: 100%;
    color: #6c757d;
}

.cardDim{
    background-color: #F6F6F6;
    color: #6c757d;
    border-radius: 20px;
    border: none;
    appearance: textfield;

    &:focus{
        background-color: #F6F6F6;
    }
}

// CARDBOARD CONTENT
#cardboard-content{
    background-color: #F6F6F6;
    border-radius: 20px;
    width: 100%;
    height: 7em;
    padding: 0 20px 20px 20px;
    overflow: scroll;
    overflow-x: hidden;

    .text{
        color: #6c757d;
        position: relative;
        top: 8px;
        left: 5px;
    }
}

.btn-save, .btn-cancel{
    &:hover{
        color: white;
    }

    color: white;
    border-radius: 30px;
    width: 80%;
    height: 50px;
}

.btn-save{
    background-color: #FF5561;
}

.btn-cancel{
    background-color: #B6B7B7;
}