.home-card{
background-color:#FF7276;
}

.round-home{
width: 35px;
height: 35px;
border-radius: 20px;
background-color: white;
position: absolute;
top: 44%;
right: -15px;
box-shadow: 1px 1px 5px #555;
}

.arrow-home{
width: 20px;
height: 20px;
color: #FF7276;
position: relative;
top: 4px;
}